{{ define "content" }}
    <div class="row">
        <!-- *** LEFT COLUMN *** -->
        <div class="col-md-9" id="blog-post">

			   {{ $author := index .Params.authors 0 }}
         <p class="text-muted text-uppercase mb-small text-right">{{ with $author }}{{ i18n "authorBy" }} <a href="{{ $.Site.BaseURL }}authors/{{ . | urlize }}/">{{ . }}</a> | {{ end }}{{ .Date.Format .Site.Params.date_format }}</p>



            <div id="post-content" class="user-edit">
              {{ .Content }}
            </div>
            <!-- /#post-content -->
            {{ if .Site.DisqusShortname }}
            <div id="comments">
                {{ template "_internal/disqus.html" . }}
            </div>
            {{ end }}

        </div>
        <!-- /#blog-post -->

    </div>
    <!-- /.row -->
{{ end }}
